@import "./utilities/colors.module.scss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: $white;
  background-color: $darkblue;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  max-width: 60%;
  margin: 0 auto;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 1rem;
  text-align: left;
}

a {
  font-weight: 500;
  color: $blue;
  text-decoration: inherit;
}
a:hover {
  color: $lightblue;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

