$black: #000000;
$white: #FFFFFF;
$winered: #b74556;
$purple-blue: #646cff;
$slightlyLighterPurpleBlue: #7178fe;
$lightblue: #888ef9;
$darkblue: #2B384A;
$beige: #ede7d9;
$blue: rgb(63,94,251);
$lightBlue:rgb(37, 169, 236);
