@import "../../utilities/colors.module.scss";

.Tiles{
    background: $blue;
    background: $lightBlue;
//background-color: $slightlyLighterBlue;
    min-width: 50px;
    max-width: 300px;
    min-height: 70px;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 1rem;  //display: flex;
    text-transform: none;

}
